.login {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fafafa;
  border: 2px solid #d2c97c;
  border-radius: .6em;

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-label {
    font-weight: bold;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    width:60px;

    &:focus {
      z-index: 2;
    }
  }


}
